# fly.toml app configuration file generated for youtubeinfo on 2026-02-06T23:15:55+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'youtubeinfo'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
